<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Project</ion-title>
    <ion-buttons slot="end">
     <ion-button (click)="deleteProject()" color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      <ion-card-title class="ion-text-center">Edit Project</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Pro. Date </ion-label>
        <ion-datetime value="2010-02-20" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Project Name</ion-label>
        <ion-input type="text" outline></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Project Image</ion-label><br>
      </ion-item>
      <ion-item>

        <ion-input type="file"></ion-input>
      </ion-item>

      <!-- Textarea in an item with a floating label -->
      <ion-item>
        <ion-label position="floating">Project Description</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" expand="full" color="danger">
              <ion-icon name="close" slot="start"></ion-icon>Discard
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" expand="full" color="primary">
              <ion-icon name="done-all" slot="start"></ion-icon>Save
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>