
.clip_path{
    height: 150px;
    widows: 100%;
    clip-path: circle(27.5% at 50% 50%);
    background-image: url('../../assets/cropped.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.action_buttons{
    padding: 10px 5px;
}
.action_buttons ion-button{
    font-size: 11px;
}
.profile-pic {
    width: 200px;
    height: 200px;
    margin: 10px auto;
}
