<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>New Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      <ion-card-title class="ion-text-center">Add New Project</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Pro. Date </ion-label>
        <ion-datetime value="2010-02-20" placeholder="Select Date" [(ngModel)]="project_date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Project Name</ion-label>
        <ion-input type="text" [(ngModel)]="project_title"></ion-input>
      </ion-item>
      <ion-item><ion-label >Project Image</ion-label><br></ion-item>
      <ion-item>
        
        <ion-input type="file"></ion-input>
      </ion-item>

      <!-- Textarea in an item with a floating label -->
      <ion-item>
        <ion-label position="floating">Project Description</ion-label>
        <ion-textarea [(ngModel)]="project_desc"></ion-textarea>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" expand="full" color="danger">  <ion-icon name="close" slot="start"></ion-icon>Cancel</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="CreateProject()" size="small" expand="full" color="primary">  <ion-icon name="add" slot="start" ></ion-icon>Add </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>